body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 40px;
}

.MuiTextField-root,
.MuiButton-root {
  margin: 5px 15px !important;
}
.navigaciya {
  margin-bottom: 5px;
  margin-left: 15px;
}
.row button {
  max-width: 200px;
}
.App button {
  margin-left: 10px;
  display: flex;
  border-radius: 5px;
  border: 0px;
}
.navigaciya {
  background-color: blueviolet;
  color: aliceblue;
}
